.productWrapper {
	display: flex;
	h2 {
		margin: auto auto;
		font-size: 20px;
	}
}
.productList {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.card {
	position: relative;
	display: grid;
	background-color: #c3c3c3;
	border-radius: 15px;
	color: black;
	height: 230px;
	padding: 20px;
	transition: all 0.3s ease 0s;
	&:hover {
		border-radius: 22px;
	}
}
.productTitle {
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}
.productPrice {
	justify-content: center;
	display: flex;
	align-items: center;
	position: relative;
	button {
		right: 0;
		background-color: #00b1a3;
		border: none;
		width: 30px;
		height: 30px;
		position: absolute;
		border-radius: 15px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #05c5b5;
		}
		svg {
			fill: white;
			display: block;
			font-size: 16px;
		}
	}
}

.pagination {
	cursor: pointer;
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 5%;
	span {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #00b1a3;;
		width: 30px;
		padding: 5px;
		height: 30px;
		border-radius: 20px;
		margin-left: 10px;
		transition: all 0.3s ease 0s;
		&:hover{
			color: white;
			background-color: #00b1a3;;
		}
	}
}
